NODE_ENV=development

PORT = 5000

DATABASE_URL="link_from_prisma_studio/neondb/local"

# better auth 
BETTER_AUTH_SECRET="secret_from_better_auth"

BETTER_AUTH_URL=http://localhost:5000 # Base URL of your app



# jwt 
ACCESS_TOKEN_SECRET=thisIsaccesssTokenSecret

REFRESH_TOKEN_SECRET=thisIsrefreshTokenSecret


BETTER_AUTH_SESSION_TOKEN_EXPIRES_IN=1d
BETTER_AUTH_SESSION_TOKEN_UPDATE_AGE=1d



# nodemailer 
EMAIL_SENDER_SMTP_USER=any@gmail.com
EMAIL_SENDER_SMTP_PASS=smtp_password_from google manage account->app password 
EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
EMAIL_SENDER_SMTP_PORT=465
EMAIL_SENDER_SMTP_FROM=project@gmail.com



# google login 
GOOGLE_CLIENT_ID=from_cloud_console_google

GOOGLE_CLIENT_SECRET=from_cloud_console_google

# from better auth
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/callback/google


FRONTEND_URL=http://localhost:3000